footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.socials{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.social-col{
    color: var(--Blue);
    border: 1px solid var(--PaleBlue-varient);
    border-radius: 50%;
    cursor: pointer;
}

.social-col:hover{
    color: white;
    background: var(--Blue);
    border: 1px solid var(--Blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--Blue); 
}